.btn--primary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 48px;
  margin-bottom: 40px;
  padding-left: 17px;
  width: 115px;
  height: 39px;
  border: none;
  outline: none;
  background-color: var(--white);
  border-radius: 28px;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 3.5px;
  text-transform: uppercase;
  color: rgba($color: #000000, $alpha: 0.5);

  & > span {
    display: inline-block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: var(--dark-gray);
    background-image: url('../../assets/icons/icon-arrow-up.svg');
    background-position: center;
    transform: rotate(180deg);
  }
}
