.app {
  height: 100vh;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  background-image: linear-gradient(
      to left,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),
    url('../../assets/images/mobile/bg-image-daytime.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;

  &--open {
    .clock {
      height: 60vh;
      justify-content: flex-end;
    }

    .btn--primary > span {
      transform: rotate(360deg);
    }

    .quote {
      display: none;
    }

    .info {
      display: flex;
      flex-direction: column;
      height: 40vh;
      background: rgba(255, 255, 255, 0.75);
      backdrop-filter: blur(40.7742px);
      color: var(--black);
      padding: 48px 26px 0 26px;

      &__detail {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      &__title {
        font-style: normal;
        font-weight: normal;
        font-size: 10px;
        line-height: 28px;
        letter-spacing: 2px;
        text-transform: uppercase;
      }

      &__value {
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 24px;
      }
    }
  }

  &--night {
    background-image: linear-gradient(
        to left,
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4)
      ),
      url('../../assets/images/mobile/bg-image-nighttime.jpg');

    .info {
      color: var(--white);
      background: rgba(0, 0, 0, 0.75);
      backdrop-filter: blur(40.7742px);
    }
  }
}

.clock {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 31px 26px 0 26px;
}

.info {
  height: 0vh;
  overflow: hidden;
  transition: 0.1s;
}

@media (min-width: 768px) {
  .app {
    background-image: linear-gradient(
        to left,
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4)
      ),
      url('../../assets/images/tablet/bg-image-daytime.jpg');

    &--night {
      background-image: linear-gradient(
          to left,
          rgba(0, 0, 0, 0.4),
          rgba(0, 0, 0, 0.4)
        ),
        url('../../assets/images/tablet/bg-image-nighttime.jpg');
    }

    &--open {
      .info {
        box-sizing: border-box;
        flex-direction: row;
        padding: 120px 165px 120px 65px;

        &__section {
          &--left {
            margin-right: 80px;
          }
        }

        &__detail {
          flex-direction: column;
          align-items: flex-start;
          margin-bottom: 48px;
        }

        &__title {
          margin: 0;
          font-size: 13px;
          line-height: 28px;
          letter-spacing: 2.6px;
        }

        &__value {
          margin: 0;
          font-size: 40px;
          line-height: 48px;
        }
      }
    }
  }

  .clock {
    padding: 80px 130px 65px 65px;
  }
}

@media (min-width: 992px) {
  .app {
    background-image: linear-gradient(
        to left,
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4)
      ),
      url('../../assets/images/desktop/bg-image-daytime.jpg');

    &--night {
      background-image: linear-gradient(
          to left,
          rgba(0, 0, 0, 0.4),
          rgba(0, 0, 0, 0.4)
        ),
        url('../../assets/images/desktop/bg-image-nighttime.jpg');
    }

    &--open {
      .info {
        padding: 74px 0px 74px 165px;

        &__section {
          &--left {
            padding-right: 147px;
            margin-right: 94px;
            border-right: 1px solid rgba($color: #ffffff, $alpha: 0.25);
          }
        }

        &__value {
          font-size: 56px;
          line-height: 68px;
        }
      }
    }
  }

  .clock {
    padding: 56px 165px 98px 165px;

    &__action {
      display: flex;
      justify-content: space-between;
    }
  }
}
