.time {
  &__value {
    margin: 16px 0;
    font-size: 100px;
    line-height: 100px;
    letter-spacing: -2.5px;
  }

  &__type {
    margin-left: 15px;
    font-size: 15px;
    line-height: 28px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  &__icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-right: 26px;
  }

  &__title {
    margin: 0;
    display: flex;
    align-items: center;
    font-weight: normal;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 3px;
    text-transform: uppercase;

    &--second {
      display: none;
    }
  }

  &__location {
    margin: 0;
    font-weight: bold;
    font-size: 15px;
    line-height: 28px;
    letter-spacing: 3px;
    text-transform: uppercase;
  }
}

@media (min-width: 768px) {
  .time {
    &__title {
      font-size: 18px;
      line-height: 28px;
      letter-spacing: 3.6px;

      &--second {
        display: initial;
      }
    }

    &__value {
      font-size: 175px;
      line-height: 175px;
      letter-spacing: -4.375px;
    }

    &__type {
      font-weight: 300;
      font-size: 32px;
      line-height: 28px;
    }

    &__location {
      font-size: 18px;
      letter-spacing: 3.6px;
    }
  }
}
