@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root {
  --font: 'Inter', sans-serif;
  --black: #000000;
  --white: #ffffff;
  --dark-gray: #303030;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font);
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  // color: var(--white);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font);
  margin: 0;
}

h1 {
  font-weight: 700;
  font-size: 200px;
  line-height: 200px;
  letter-spacing: -5px;
}

h2 {
  font-weight: 700;
  font-size: 56px;
  line-height: 68px;
}

h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -4.8px;
  text-transform: uppercase;
}

h4 {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 4px;
  text-transform: uppercase;
}

h5 {
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
}

h6 {
  font-weight: 700;
  font-size: 15px;
  line-height: 28px;
  letter-spacing: 3px;
}
